
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Manrope&family=Miriam+Libre&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');


.searchbarsec{

    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.subheader{
  width: 40%;
}
.content{
    width: 85%;
    margin: auto;
    margin-top: 150px;


}
.searchbarres H2{
    text-align: center;
    color: #8798EE;
    font-size: 2.2rem;
}
.searchbarres p{
    font-family: 'Miriam Libre';
}
.searchbarres {
    width: 70%;
    margin: auto;
}
.th{
padding-right: 100px;
font-weight: normal;
font-family: "Source Serif 4";
font-size: 0.8rem;
}
.index {

    font-weight: normal;
font-family: "Source Serif 4";
font-size: 0.8rem;

}
.values {
    padding-right: 100px;
    font-weight: normal;
font-family: "Source Serif 4";
font-size: 0.8rem;
text-align: center;
}
#quantity{
    border: none;
    border-bottom: 1px solid #8798EE;
    background-color: transparent;
    text-align: center;
}
.exec{
    display: flex;
    flex-direction: column;
    font-family: 'Miriam Libre';
    color: rgba(0,0,0,0.4);
    float: right;
    margin: auto;
    align-items: center;
    width: 30%;



}


.quantitydiv,.validatediv{
    display: flex;
    width: 100%;
    padding: 15px;


}

.left{
    width: 20%;
    font-size: 0.9rem;
    display: flex;
  align-items: center;
}
.right{
    flex-basis: 70%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;





}
#long,#short{
    height: 29px;
    width: 40%;
    font-size: 0.9rem;
    border: none;
    margin-right: 10px;
    border-radius: 7px;
}
#long{
    background-color:#028A0F ;
    color: white;
    font-family: 'Miriam Libre';
}
#short{
    background-color:#B90E0A ;
    color: white;
    font-family: 'Miriam Libre';
}
#buttondiv{
width: 100%;/* You may adjust this width based on your design */

}

.actiondiv div {
  width: 100%;

}
.quantitydiv{
    display: flex;
    flex-direction: row;
}
.validatediv button{
    border: none;
    width: 90%;
    height: 35px;
    font-size: 1rem;
    font-family: 'Miriam Libre';
    color: rgba(0,0,0,0.4);
    border-radius: 7px;
    background-color: rgba(135, 152, 238, 0.3);
}
.validatediv{
    display: flex;
    align-items: center;
    justify-content: center;

}
.exec input{
    font-size: 0.8rem;

    width: 100%;

}

.exec input[type="number"]::-webkit-inner-spin-button,
.exec input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exec input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


/* Chrome, Safari, Edge, Opera */
#quantity input::-webkit-outer-spin-button,
#quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#quantity input[type=number] {
  -moz-appearance: textfield;
}

.stockaddedanimation {
  position: fixed;
  left: calc(50% - 70px);
  top: 50%;
  z-index: 10000;
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; /* Add a fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stockaddedanimation svg {
  font-size: 70px;
}

.stockaddedanimation p {
  font-size: 34px;
  margin-top: 10px;
  font-family: 'Miriam Libre';
}
