.ioarea{
    min-width: 500px;
    width: 70%;
    border-radius: 30px;
    background-color: rgba(135, 152, 238,0.1);
}
.icon{
  height: 60%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.sbarea{
    width: 95%;
    margin: auto;
    height: 30px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#searchbar{
    height: 100%;
  background-color: transparent;
  border: none;
  outline: none; /* Remove the default outline */
  box-shadow: none; /* Remove any default box shadow */
  font-size: larger;
  flex-basis: 92%;
}